@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,600&family=Poppins:wght@400;500;700;900&display=swap");

body {
  background-image: url(./sfondo.png);
  font-family: "Poppins", sans-serif;
}
header {
  margin: 0 auto;
  margin-top: 20px;
  width: 370px;
  height: 250px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(18, 157, 185);
  background: linear-gradient(
    180deg,
    rgba(18, 157, 185, 1) 0%,
    rgba(15, 115, 135, 1) 46%,
    rgba(11, 91, 107, 1) 100%
  );
  box-shadow: -1px 2px 4px 0px gray;
}
.logo {
  width: 300px;
}
.sottotitolo {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  font: bold;
  color: white;
}
.spazio {
  margin-bottom: 7px;
}
.white {
  color: white;
  font: bold;
}
main {
  margin: 0 auto;
  width: 410px;
  background: white;
  margin-top: 30px;
  box-shadow: 0px 2px 4px 2px gray;
}
h1 {
  font-size: 35px;
  font: 00;
  margin-left: 0.5px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.grigio {
  color: rgb(184, 184, 184);
  padding-bottom: 30px;
  font-size: 20px;
}
p {
  padding-bottom: 20px;
}
div {
  margin-left: 20px;
  font-size: 21px;
}
h4 {
  margin-top: 20px;
}
span {
  color: rgb(138, 4, 138);
  font-weight: 500;
}
caption {
  font-weight: 500;
}
.spaziatura {
  margin-top: 20px;
  margin-bottom: 0px;
}
iframe {
  box-shadow: -50px -76px 0px -93px rgba(0, 0, 0, 0.1);
}
table.blueTable {
  border: 0px solid #a4999a;
  background-color: #ffffff;
  text-align: center;
  border-collapse: collapse;
}
table.blueTable td,
table.blueTable th {
  border: 0px solid #aaaaaa;
  padding: 5px 10px;
}
table.blueTable tbody td {
  font-size: 21px;
  color: #241133;
}
table.blueTable tr:nth-child(even) {
  background: #f1f1f1;
}
table.blueTable thead {
  background: #176ad1;
  border-bottom: 1px solid #176ad1;
}
table.blueTable thead th {
  font-size: 21px;
  /* font-weight: bold; */
  color: #ffffff;
  text-align: center;
  border-left: 1px solid #a0a0a0;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 8px;
  font-weight: bold;
  color: #ffffff;
  background: #d0e4f5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: -webkit-linear-gradient(
    top,
    #dcebf7 0%,
    #d4e6f6 66%,
    #d0e4f5 100%
  );
  /* background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  border-top: 2px solid #176ad1; */
}
table.blueTable tfoot td {
  font-size: 8px;
}
footer {
  border-top: 1px solid #176ad1;
}
